<div class="wrapper">
    <!-- Navbar -->
    <Admin-navbar></Admin-navbar>


    <!-- Main Sidebar Container -->
    <admin-main-sidebar></admin-main-sidebar>

    <div class="content-wrapper">
        <!--Content Header-->
        <Admin-content-header></Admin-content-header>

        <!--Dynamic body -->
        <admin-body></admin-body>

    </div>

    <!--Footer-->
    <Admin-footer></Admin-footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->


   
</div>